.projects-container {
}

.square-projects-container {
	position: relative;
	aspect-ratio: 1.618;
	width: 100%;
}

.mini-projects {
	position: absolute;

	transition: top, left, bottom, right, width, height, border-radius;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.friendlyfur-project {
	// right: 0;
}

.kentucky-project {
	// left: 25%;
}
.chess-project {
	// right: 25%;
}

.mug-project {
	// left: 0%;
}
